@model Author
@{
    ViewData["Title"] = "Author's Details";
}

<div class="bar">

    <a class="btn btn-primary" asp-action="Index" asp-controller="Authors">Go Back</a>

</div>


<h1>Author: @Model.Name's Books</h1>


<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Book ID</th>
            <th>Name</th>
            <th>Edition</th>
            <th>Author</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in @ViewBag.Books)
        {
            <tr>
                <td>@book.BookId</td>
                <td>@book.Name</td>
                <td>@book.Edition</td>
                <td>@book.Author.Name</td>
            </tr>
        }
    </tbody>
</table>